.headingDiv[b-xsz1jx8gvx] {
    margin-top: 25px;
}

.page-selection[b-xsz1jx8gvx]{
    margin-right: 15px;
    margin-bottom: 30px;
}

.sortButton[b-xsz1jx8gvx] {
    font-size: 14px;
    border: none;
    background: none;
    margin-left: 30px;
}