@page "/"
@inject IDocumentService DocumentService

<PageTitle>Home</PageTitle>

<PageHeader />

<div class="searchDiv">
    Search for documets and reports from <b>The World Bank</b> public database.

    <Search />
</div>