@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar"></div>

    <main>
        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <div class="alert alert-primary">
                        <h3>@Exception.Message</h3>
                        <button class="btn btn-primary" @onclick="() => errorBoundary.Recover()">Back to homepage</button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code{
    private ErrorBoundary errorBoundary;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        {
            errorBoundary = new ErrorBoundary();
        }
    }
}

